@{
}

@model Basket

<div class="">

    @if (Model.Items.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Items.Sum(x => x.Quantity) item(s)
            @Model.CalculateTotal().ToString("c")
        </small>
    }

    <a class="btn btn-sm btn-secondary navbar-btn wrapper pulse" asp-page="/Purchase"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>

</div>