@{
    ViewBag.Title = "Bookstore";
}

@model BooksViewModel

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b"/>
}

<div page-blah="@Model.PageInfo" page-action="Index"
     page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>