@page
@model Bookstore.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks!  Your order will be shipped soon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>